.navbar {
  background-color: #251e21;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  width: 80%;
  display: flex;
  justify-content: center;
  position: relative;
}

.navbar input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
}

.navbar input::placeholder {
  padding-left: 2rem;
}

.icon-container svg {
  position: absolute;
  top: 16%;
  right: 2%;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .navbar input {
    width: 90%;
    height: 45px;
  }
  .icon-container svg {
    right: 8%;
  }
}
